.carousel {
  width: 100%;
}

.carouselPage {
  flex: 1 0 auto;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  position: relative;
  display: grid;
  width: 100%;
}

.carouselPageWrapper {
  display: flex;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
  overflow: auto;
  overflow-scrolling: touch;
  width: 100%;
  height: 100%;
}

.carouselPageWrapper:focus {
  outline: none;
}

.carouselPageWrapper::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  height: 0px;
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.carouselPageControls {
  flex: 1 0 auto;
  margin: 10px 0 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.carouselPageIndicator {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: rgba(0, 0, 255, 0.2);
  transition: background-color 0.3s;
}

.carouselPageIndicator + .carouselPageIndicator {
  margin-left: 5px;
}

.carouselPageIndicator__active {
  background-color: blue;
}

.carouselPageButton {
  border: none;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
}

.carouselPageButtonPrev,
.carouselPageButtonNext {
  width: 0px;
  height: 0px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  transition: border-color 0.3s;
}

.carouselPageButtonPrev {
  border-right: 8px solid blue;
}

.carouselPageButtonNext {
  border-left: 8px solid blue;
}

.carouselPageButton:disabled {
  cursor: default;
}

.carouselPageButton:disabled .carouselPageButtonPrev {
  border-right: 8px solid rgba(0, 0, 255, 0.2);
}

.carouselPageButton:disabled .carouselPageButtonNext {
  border-left: 8px solid rgba(0, 0, 255, 0.2);
}
