.carouselPageItem {
  border: none;
  margin: 0;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.carouselPageItem:focus {
  outline: none;
}

.carouselPageItemImage {
  max-width: 90vw;
	max-height: 90vh;
	object-fit: contain;
}

.carouselPageItemLoader {
	background: black;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
