.configButton {
  all: unset;

  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  margin-bottom: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}
