.configButton {
  all: unset;

  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  margin-bottom: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.configButton__Icon--edit {
  position: relative;
  left: 2px;
  bottom: 1px;
}

.configButton__Icon--spinner {
  animation: spin 1s infinite;
}

@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
