.configButtonContainer {
  position: absolute;
  right: -20px;
  height: 100%;
}

.configButtonContainer__Inner {
  position: fixed;
  top: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.configButtonContainer__Inner > * {
  margin-bottom: 12px;
}
