.footer {
  font-family: "IBM Plex Mono";
  text-align: center;
  width: 100%;
  margin-top: -20px;
}

.footerInner {
  margin: 0;
  padding: 43px 20px;
}

@media (max-width: 880px) {
  .footer {
    margin-top: 0;
    background: inherit;
  }

  .footerInner {
    padding: 20px 20px 70px;
  }
}
