.photoGrid__ConfigButtonEdit__edit {
  position: relative;
  left: 2px;
  bottom: 1px;
}

.photoGrid__ConfigButtonEdit__spinner {
  animation: spin 1s infinite;
}

@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
