.imageModal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(5px);
	padding: 20px;

	display: flex;;
}

.imageModal__Inner {
	margin: auto;
	width: 100%;
	max-width: 700px;
	padding: 20px;
	background: white;
}

.imageModal__Image {
	width: 100%;
}
