.photoGridItem {
  position: relative;
  display: block;
  min-height: 240px;
  background-color: #ccc;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  text-align: left;
  font-weight: normal;
  text-transform: none;
}

.photoGridItemActive {
  cursor: pointer;
  will-change: transform;
  transform: scale(1);
  transition: transform 0.3s, border-color 0.3s;
}

.photoGridItem__Main {
  all: unset;

  width: 100%;
  height: 100%;
  overflow: hidden;
}

.photoGridItem__ButtonsContainer {
  position: absolute;
  top: -18px;
  right: 0;

  width: 100%;
  max-width: 240px;
  padding: 0 8px;

  display: none;
}

.photoGridItem:hover .photoGridItem__ButtonsContainer {
  display: flex;
  justify-content: space-between;
}

.photoGridItemSpanWidth1 {
  grid-column: span 1;
}

.photoGridItemSpanWidth2 {
  grid-column: span 2;
}

.photoGridItemSpanWidth3 {
  grid-column: span 3;
}

.photoGridItemSpanHeight1 {
  grid-row: span 1;
}

.photoGridItemSpanHeight2 {
  grid-row: span 2;
}

.photoGridItemSpanHeight3 {
  grid-row: span 3;
}

.photoGridItem__Inner {
  width: 100%;
  height: 100%;
  background-color: #ccc;
  background-size: cover;
  background-position: top center;
  will-change: transform;
  transform: scale(1.05);
  transition: transform 0.3s;
}

.photoGridItemActive:hover .photoGridItem__Inner {
  will-change: transform;
  transform: scale(1);
  transition: transform 0.3s;
}

.photoGridItemActive:hover {
  transform: scale(1.1);
  z-index: 1;
}

.photoGridItem__Caption {
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
  font-size: 2em;
  user-select: none;
  color: white;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);

  position: absolute;
  bottom: 16px;
  left: 16px;
}

@media (max-width: 880px) {
  .photoGridItemSpanWidth3 {
    grid-column: span 2;
  }
}

@media (max-width: 440px) {
  .photoGridItem__Caption {
    font-size: 1.5em;
  }
}

@media (max-width: 400px) {
  .photoGridItemActive:hover .photoGridItem__Inner {
    transform: scale(1.05);
  }

  .photoGridItemActive:hover {
    transform: scale(1);
  }

  .photoGridItemSpanWidth2,
  .photoGridItemSpanWidth3 {
    grid-column: span 1;
  }

  .photoGridItemSpanHeight2,
  .photoGridItemSpanHeight3 {
    grid-row: span 1;
  }
}
