.photoGridItem {
	position: relative;
	height: 280px;
	background-color: #CCC;
	border: none;
	border-width: 4px;
	border-style: solid;
	border-radius: 0;
	overflow: hidden;
	padding: 0;
	margin: 0;
	cursor: pointer;
	text-align: left;
	font-weight: normal;
	text-transform: none;

	will-change: transform;
	transform: scale(1);
	transition: transform 0.3s, border-color 0.3s;
}

.photoGridItem:disabled {
	cursor: default;
}

.photoGridItemSpan1 {
	grid-column: span 1;
}

.photoGridItemSpan2 {
	grid-column: span 2;
}

.photoGridItemSpan3 {
	grid-column: span 3;
}

.photoGridItem__Inner {
	width: 100%;
	height: 100%;
	background-color: #CCC;
	background-size: cover;
	background-position: top center;
	will-change: transform;
	transform: scale(1.05);
	transition: transform 0.3s;
}

.photoGridItem:hover:not(:disabled) .photoGridItem__Inner {
	will-change: transform;
	transform: scale(1);
	transition: transform 0.3s;
}

.photoGridItem:hover:not(:disabled) {
	transform: scale(1.1);
	z-index: 1;
}

.photoGridItem__Caption {
	font-family: "IBM Plex Serif", serif;
	font-weight: 700;
	font-size: 2.5em;
	user-select: none;
	color: white;
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);

	position: absolute;
	bottom: 16px;
	left: 16px;
}

@media(max-width: 767px) {
  .photoGridItemSpan3 {
		grid-column: span 2;
	}
}

@media(max-width: 400px) {
  .photoGridItemSpan3,
  .photoGridItemSpan2 {
		grid-column: span 1;
	}
}
