.photoGridUploader {
	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 60px;
	font-weight: bold;
	color: black;

	opacity: 0;
	background-color: rgba(255, 255, 255, 0);
	outline: 0px dashed black;
	backdrop-filter: blur(0px);
	cursor: pointer;
	pointer-events: none;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	transition: all;
}

.photoGridUploaderVisible {
	opacity: 1;
	background-color: rgba(255, 255, 255, 0.5);
	outline: 4px dashed black;
	backdrop-filter: blur(6px);
}
