.photoGrid {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-flow: dense;
}

@media(max-width: 880px) {
  .photoGrid {
		grid-gap: 16px;
		grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 440px) {
  .photoGrid {
		grid-gap: 12px;
	}
}

@media(max-width: 400px) {
  .photoGrid {
		grid-template-columns: 1fr;
  }
}
