.photoGridUploader {
	height: 240px;

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 20px;
	font-weight: bold;
	color: black;

	background-color: #EEE;
	border: 4px dashed black;
	cursor: pointer;
}
