.resumeContainer {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 250px;
  max-width: 880px;
  margin: 20px auto;
  background: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
}

@media(max-width: 767px) {
  .resumeContainer {
    margin: 0;
    grid-template-columns: 1fr;
  }
}
