.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip__text {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  width: auto;
  padding: 6px 12px;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  user-select: none;
  opacity: 0;
  transition: opacity 0.3s;
  visibility: hidden;
  white-space: nowrap;
  backdrop-filter: blur(6px);

  position: absolute;
  z-index: 1;
}

.tooltip__text::after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
}

.tooltip:hover .tooltip__text {
  visibility: visible;
  opacity: 1;
}

.tooltip__text--right {
  top: 50%;
  transform: translateY(-50%);
  left: 120%;
  margin-right: -60px;
}

.tooltip__text--right::after {
  top: calc(50% - 5px);
  right: 100%;
  border-color: transparent rgba(0, 0, 0, 0.8) transparent transparent;
}

.tooltip__text--left {
  top: 50%;
  transform: translateY(-50%);
  right: 120%;
  margin-left: -60px;
}

.tooltip__text--left::after {
  top: calc(50% - 5px);
  left: 100%;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.8);
}

.tooltip__text--top {
  bottom: 120%;
  transform: translateX(-50%);
  left: 50%;
  margin-top: -60px;
}

.tooltip__text--top::after {
  left: calc(50% - 5px);
  top: 100%;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}
