* {
	box-sizing: border-box;
}

html, body, #__next {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	background: #444;
}

body.no_scroll {
	overflow: hidden;
}

h1.heading {
	font-family: "IBM Plex Serif", serif;
	font-weight: 700;
	font-size: 2.5em;
	margin: 0;
	margin-bottom: 20px;
}

b.subheading {
	color: #69F;
	font-family: "IBM Plex Sans", sans;
	font-weight: bold;
	font-size: small;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 10px;
}

p.text {
	font-family: "IBM Plex Serif", serif;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	line-height: 22px;
}

p.text.light {
	color: gray;
}

p.text.large {
	font-size: 16px;
}

p.text.small {
	font-size: 12px;
}

p.time {
	font-family: "IBM Plex Sans", sans;
	font-weight: 300;
	font-size: small;
	text-transform: uppercase;
	color: gray;
	margin-top: 8px;
	margin-bottom: 8px;
}

ul.list {
	font-family: "IBM Plex Serif", serif;
	font-weight: 400;
	padding-left: 0;
	list-style: none;
}

ul.list>li {
	margin: 0 0 5px;
	height: 25px;
}

a {
	font-family: "IBM Plex Sans", sans;
	text-decoration: none;
	background: #69F;
	color: white;
	border-radius: 10px;
	padding: 2px 10px;
	user-select: none;
}

@media(max-width: 767px) {
	html, body, #__next {
		background: white;
	}
}
