@import url("../node_modules/@fortawesome/fontawesome-free/css/all.min.css");

* {
  box-sizing: border-box;
}

html,
body,
#__next {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: #444;
  color: white;
}

body.no_scroll {
  overflow: hidden;
}

h1.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
  font-size: 2.5em;
  margin: 0;
  margin-bottom: 20px;
}

img.heading-image {
  width: 200px;
  margin-right: 20px;
}

div.heading-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1 0 auto;
}

div.heading-actions > *:not(:first-child) {
  margin-top: 4px;
}

b.subheading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #0357ff;
  font-family: "IBM Plex Sans", sans;
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  margin: 16px 0 8px;
}

div.loader-container {
  padding: 100px;
}

div.hero {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

p.text {
  font-family: "IBM Plex Serif", serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  line-height: 22px;
}

p.text.light {
  color: gray;
}

p.text.large {
  font-size: 16px;
}

p.text.small {
  font-size: 12px;
}

p.time {
  font-family: "IBM Plex Sans", sans;
  font-weight: 300;
  font-size: small;
  text-transform: uppercase;
  color: gray;
  margin-top: 8px;
  margin-bottom: 8px;
}

ul.list {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

ul.list > li {
  margin: 0 0 5px;
  height: 25px;
}

button,
a {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 24px;
  font-family: "IBM Plex Sans", sans;
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  text-decoration: none;
  text-align: right;
  background: #0357ff;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 6px 10px;
  user-select: none;
  pointer-events: all;
}

main.page {
  padding: 60px;
  margin: 20px auto;
  max-width: 880px;
  background: white;
  color: #222;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
  position: relative;
}

@media (max-width: 880px) {
  html,
  body,
  #__next {
    background: white;
    color: #222;
  }

  main.page {
    padding: 44px 40px;
    margin: 0;
  }

  div.hero {
    margin-bottom: 16px;
  }

  h1.heading {
    font-size: 2.36em;
  }
}

@media (max-width: 440px) {
  main.page {
    padding: 28px 20px;
  }

  div.hero {
    margin-bottom: 12px;
  }

  h1.heading {
    font-size: 2.5em;
    text-align: center;
  }

  img.heading-image {
    width: 140px;
  }

  b.subheading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
