.photography {
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 50%;
  bottom: 0;
  width: 100%;
  padding: 40px 98px;
  max-width: 880px;
  transform: translate(-50%, 0);
  z-index: 1;
  pointer-events: none;
}

@media(max-width: 880px) {
  .buttonContainer {
    padding: 20px 60px;
  }
}

@media(max-width: 440px) {
  .buttonContainer {
    padding: 20px 40px;
  }
}
