.photography {
  padding: 60px;
  display: flex;
  flex-direction: column;
  max-width: 880px;
  margin: 20px auto;
  background: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
}

@media(max-width: 767px) {
  .photography {
  	padding: 28px;
    margin: 0;
  }
}
